*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  
  --base-color: 240;

  /* color bg body*/
  --bg-primary: hsla(var(--base-color), 0%, 100%);
  --bg-secondary: hsla(var(--base-color), 5%, 7%);


  /* color timer*/
  --text-color: hsla(var(--base-color), 6%, 17%);
  /* --text-color1: hsla(var(--base-color), 0%, 100%); */

  /*cards mode light*/
  --svg-card1:hsla(194, 97%, 31%);
  --svg-card2:hsla(var(--base-color), 0%, 100%);

  --svg-ctrlsColor:  hsl(240, 6%, 21%);

  --svg-bgCards: hsl(240, 9%, 89%);
  --svg-colorCards:hsl(240, 6%, 21%);


  /*cards mode dark*/
  --svg-cardDark1: hsla(240, 6%, 17%);
  --svg-cardDark2:hsla(240, 7%, 78%);
  --svg-cardDark3: hsla(195, 74%, 15%);
  --svg-cardDark4: hsla(0, 0%, 100%);




 
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-color);

  max-width: 82.1rem;
  height: 100vh;

  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17rem;
 
}

.wrapper{
  max-width: 30.8rem;
  max-height: 33.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#timer{
  font-size: 12.6rem;

  display: flex;

  margin-bottom: .6rem;
}

#controls{
  display: flex;
  gap: 4rem;
}

button{
  background-color: transparent;
  border: none;

  cursor: pointer;
}


.hide{
  display: none;
}

/* modo light */
.imgLight{
  position: fixed ;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.svg-ctrlsColor{
  fill: var(--svg-ctrlsColor)
}

.svg-bgCards{
  fill: var(--svg-bgCards) ;
}

.svg-colorCards{
  fill: var(--svg-colorCards);

}


.btnActive svg path:first-child{
  fill: var(--svg-card1);
}

.btnActive svg path:last-child{
  fill: var(--svg-card2);
}


/* modo dark */
.imgDark{
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
}



.darkBg{
  background: var(--bg-secondary);
  --text-color1: hsla(var(--base-color), 0%, 100%);
  
  color: var(--text-color1);

 --svg-card1: hsla(195, 74%, 15%);
  
 
  /* fill: var(--svg-card2); */

  --svg-ctrlsColor:hsla(240, 7%, 78%);

  --svg-bgCards: hsla(240, 6%, 17%);
  --svg-colorCards: hsla(240, 7%, 78%);
  
  --svg-card1:hsla(195, 74%, 15%);
  --svg-card2:hsla(0, 0%, 100%);
  

  
}

.cards-sound{
  max-width: 30.8rem;
  max-height: 33.6rem;

  display: grid;
  grid-template-columns: 138px 138px;
  gap: 32px;

}


@media (max-width: 800px) {
  
  main{
    display: flex;
    flex-direction: column;
    
    margin: 20rem auto;
    gap: 5rem;
  }

  .cards-sound{
    max-width: 30.8rem;
    max-height: 33.6rem;
  }
}






/*  conf para button selecionado
.cards svg path{
  fill: var(--bg-card-second)
} */